.MainBody {
  height: 100vw;
  width: 100vw;
  background-color: #546666;
  color: #e1eded;
  font-family: 'Roboto', sans-serif;
  background-image: url(https://images.pexels.com/photos/540518/pexels-photo-540518.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-size: 103vw;
}

.MainHeader {
  display: flex;
  flex-direction: row;
  border: 2px hidden black;
  width: 100vw;
  justify-content: space-between;
}

.logo {
  float: left;
}

.Navigation {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-size: 16pt;
}

.Navigation a {
  display: flex;
  margin: 6px;
  text-decoration: none;
  color: #e1eded;
  font-size: 16pt;
}

.MainMain {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 48.5vw;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  text-align: center;
  padding-left: 30px;
  color: #e1eded;
}

.Footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  border: 2px hidden black;
  width: 100vw;
}

.BlogsBody {
  height: 50vw;
  width: 100vw;
  background-color: #546666;
  color: #e1eded;
  font-family: 'Roboto', sans-serif;
  background-image: url(https://images.pexels.com/photos/540518/pexels-photo-540518.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-size: 103vw;
}

.BlogsHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
  border: 2px hidden black;
  width: 100vw;
}

.BlogsHeader a {
  text-decoration: none;
  color: #e1eded;
  font-size: 16pt;
  margin: 6px;
}

.BlogsMain {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 48.5vw;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  padding-left: 30px;
  color: #e1eded;
}

.BlogsNavigation {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-size: 16pt;
}

.BlogsNavigation a {
  display: flex;
  margin: 15px;
  text-decoration: none;
  color: #e1eded;
  font-size: 16pt;
}

.BPBody {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  height: 100vw;
  width: 100vw;
  color: #e1eded;
  background-color: #546666;
  font-family: 'Gothic A1', sans-serif;
}

.BPHeader {
  display: flex;
  flex-direction: column;
  border: 2px hidden #e1eded;
  height: auto;
  width: auto;
}

.BPFooter {
  display: flex;
  align-items: flex-end;
  float: left;
}

.BPNavigation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.BPNavigation a {
  border: 1px hidden black;
  text-decoration: none;
  color: #e1eded;
  padding: 3px;
  margin: 2px;
  border-radius: 30%;
  font-weight: bold;
}

.BPMain {
  display: flex;
  flex-direction: column;
  border: 2px hidden black;
  margin: 100px 60px 100px 37px;
}

.BPMain h1 {
  font-size: 40pt;
}

.BPMain h2 {
  font-size: 20pt;
}

.BPImg {
  height: 580px;
  width: 400px;
}

.BPEnd {
  display: flex;
  flex-direction: column;
}

.BPImg2 {
  height: 200px;
  width: 200px;
  border-radius: 50%
}

.AboutMain {
  display: flex;
  flex-direction: row;
  width: 89.2vw;
  height: 48.5vw;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  text-align: center;
  padding-left: 30px;
  color: #e1eded;
}

.AboutMain p {
  width: 38vw;
}

.AboutImg {
  display: flex;
  width: 30vw;
  float: right;
  border-radius: 50%;
}
